{% extends "base.html" %}

{% block content %}
<button type="button" class="btn btn-outline-secondary">
    <h1>Войти в Страницу</h1>
    <h3>Введитье логин и пороль</h3>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</button>
{% endblock %}
